.modal-dialog {
  height: 100vh !important;
  display: flex;
  margin-top: -10vh;
}
.modal-content {
  margin: auto !important;
  height: fit-content !important;
}
.dice-value {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Special Elite' cursive;
}

.dice-value-big {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  font-family: 'Special Elite' cursive;
}

.dice-label {
  display: block;
  font-size: 10px;
  font-weight: bold;
  color: gray;
  margin-bottom: 0px;
  margin-top: -1rem;
  text-align: center;
  padding: 0px;
}