.character-card {
    border: 0px;
    border-radius: 10px;
}
.character-picture {
    width: 6rem;
    height: 6rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.character-col {
    height: 6rem;
    color: black;
    border: 0px;
    border-radius: 10px;
}
.character-col-body {
    padding: 5px;
    padding-right: 20px;
}

.character-label {
    font-size: 10px;
    font-weight: bold;
    color: gray;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    padding: 0px;
}

.character-input {
    background-color: #F3F3F3;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 8rem;
}