.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-bottom: 40px;
}

.App-header {
  background-color: #ededed;
  background-image: url("./assets/background.png");
  min-height: 100vh;
  color: white;
  padding-top: 80px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
