body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.modal-content {
  border: 0;
  box-shadow: 0px 0px 40px 0px rgba('0,0,0,.25');
}

.form-group {
  width: 80%;
  margin: 0 auto;
}
.form-control {
  background-color: #E5E5E5 !important;
}

.form-group input {
  background-color: #E5E5E5;
  border: 0;
}
.form-group input:focus {
  background-color: #E5E5E5;
}
.form-group input::placeholder {
  background-color: #E5E5E5;
  color: #979797;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.btn.btn-primary {
  background-color: #4B3B47;
  color: white;
  border: 0;
}
.btn.btn-primary:hover {
  background-color: rgb(105, 87, 101);
}

a p {
  font-size: 14px;
  color: #BDBDBD;
}

a.social-login {
  color: #4B3B47;
}

.dropdown-toggle {
  color: #4B3B47;
}

.card.card-hover:hover {
  transform: scale(1.01);
  transition: transform .2s;
}

.dictaphone {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  position: absolute;
  right: -10px;
  margin-top: -10px;
  background-color: #c1bfbf;
  -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.row > div[class*='card-group col-'] {
  display: flex;
  flex:1 0 auto;
}
